---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout
  title="About Alfred"
  description="Alfred is a designer and developer focused on thoughtful digital products."
  bodyClass="home"
>
  <main class="home-main">
    <article class="about-copy" aria-labelledby="page-title">
      <h1 id="page-title">About</h1>

      <p>Hi there. I study Computer Science at the University of Waterloo.</p>

      <p>
        My favorite cocktail is Boulevardier (bool-vahr-dee-AY), a variant of
        Negroni.
      </p>

      <p>
        If you are trying to write a good story, I suggest you read "Happy Endings"
        by Margaret Atwood.
      </p>

      <p>
        You can email me <a href="mailto:alfred.zhang@uwaterloo.ca">here</a>.
      </p>
    </article>
  </main>
</SiteLayout>
